<div class="get-beer">
  <button type="button" (click)="getBeer($event)" class="get-beer__button">
    Show me the beers!
  </button>
  <div *ngIf="isLoading" class="get-beer__spinner">
    <p>Fetching beer... be patient!</p>
  </div>
  <div *ngIf="beers" class="get-beer__beers">
    <ol class="get-beer__beers-list">
      <li *ngFor="let beer of beers" class="get-beer__beers-list-item">
        <div class="get-beer__beers-list-item--beer-name">{{ beer.name }}</div>
        <div class="get-beer__beers-list-item--beer-tagline">
          {{ beer.tagline }}
        </div>
      </li>
    </ol>
  </div>
</div>
